{% extends 'base.html' %}

{% block title %}
    {% if manga %}- {{ manga.title }}{% else %}- Mangá não encontrado{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% if manga %}
        <h1>Detalhe do Mangá</h1>

        <div class="manga-detail">
            <img src="{{ manga.img_path }}" class="manga-img" alt="{{ manga.title }}">
            <div class="manga-info">
                <h2>{{ manga.title }}</h2>
                <p>{{ manga.description }}</p>

                <h3>Gêneros:</h3>
                <div>
                    {% for gender, color in manga.genders_with_colors %}
                        <span class="badge text-white" style="background-color:{{ color }};">{{ gender }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-danger">Mangá não encontrado!</h1>
        <p>O mangá que você está tentando acessar não existe ou foi removido.</p>
        <a href="/" class="btn btn-primary">Voltar para a lista</a>
    {% endif %}
</div>
{% endblock %}
